body {
  margin: 0;
  position: absolute;
  height: 100%;
}

line {
  stroke: red
}

path {
  stroke: green;
  stroke-width: 2px;
  fill: none;
}

/* a path or circle within a g element with class of group0 */
g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.hidden line,
g.hidden path {
  display: none;
}

/* a line inside of a g element with class of tick */
g.tick line {
  stroke: blue
}

g.tick text {
  font-size: 12px;
  fill: purple;
}
